{% load i18n %}
{% load admin_search_fields %}

<div {% if cl.has_filters %} class="search-div-filter" {% endif %}>
<form id="changelist-search" action="" method="get">
	
	<div id="search_box_link"><a href="#">Suche</a></div>
    <div id="search_box" class="search_items">
        <input type="hidden" name="{{ search_var }}" value="{{ cl.query }}">
        <input type="hidden" name="{{ page_var }}" value="{{ cl.page_num }}" id="page" />

        {% for field in admin_search_fields %}
                <div class="search_item">
                    <label class="search_label" for="{{ field.field_id_name }}">{{ field.desc }}</label>

                    <input class="search_input"
                           {%  if field.input_length %}
                            style="width: {{ field.input_length }}px;"
                           {% endif %}

                            {% if field.qt == 'B' %}
                                type="text" data-class="bool"
                            {% elif field.qt == 'T' %}
                                type="text" data-class="text"
                            {% elif field.qt == 'D' %}
                                type="text"
                            {% elif field.qt == 'I' %}
                                type="number"
                            {% elif field.qt == 'C' %}
                                type="number"
                            {% elif field.qt == 'F' %}
                                type="number"
                           {% endif %}

                            name="{{ field.field_id_name }}"
                            {% if field.field_id_name in query_values %}
                                value="{{ query_values|get_item:field.field_id_name }}"
                            {% endif %}
                            />

                    <span class="desc">
                        {% if field.qt == 'B' %}
                            0/1
                        {% else %}
                            {{ field.qt }}
                        {% endif %}
                    </span>
                </div>
        {% endfor %}
        <input type="submit" value="{% trans 'Search' %}" />
        {% if show_result_count %}
            <span class="small quiet">{% blocktrans count counter=cl.result_count %}{{ counter }} result{% plural %}{{ counter }} results{% endblocktrans %} (<a href="?{% if cl.is_popup %}_popup=1{% endif %}">{% blocktrans with full_result_count=cl.full_result_count %}{{ full_result_count }} total{% endblocktrans %}</a>)</span>
        {% endif %}
        {% for pair in cl.params.items %}
            {% ifnotequal pair.0 search_var %}
                {% if not pair.0|slice:":3" == 'qs_' %}
                    <input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}"/>
                {% endif %}
            {% endifnotequal %}
        {% endfor %}
    </div>
    <div class="clear"></div>
    <script type="text/javascript">
    (function($) {		
        $(document).ready(function($) {
            $('.paginator > a').click(function(el){
                var href = $(this).attr("href");
                if(href.search("\\?p=")>-1){
                    $('#page').val( Number($(this).text())-1);
                    $('#changelist-search').submit();
                    return false;
                }
                if(href.search("\\?all=")>-1){
                    $('#page').val(-1);
                    $('#changelist-search').submit();
                    return false;
                }
            });
			
			$('#search_box_link').click(function(){				
				$('#search_box').toggle();
			});

            {% if hide_search %}
			    $('#search_box').hide();
            {% endif %}
			
        });
    })(django.jQuery);
    </script>
</form>
</div>